(
    menu_music: "audio/music/intro.ogg",
    level_music: [
        "audio/music/1.ogg",
        "audio/music/2.ogg",
        "audio/music/3.ogg",
        "audio/music/4.ogg",
        "audio/music/5.ogg",
        "audio/music/6.ogg",
        "audio/music/7.ogg",
        "audio/music/8.ogg",
        "audio/music/9.ogg",
    ],
    sfx: {
        "walk": "audio/sfx/walk.ogg",
        "shoot_regular": "audio/sfx/shoot_regular.ogg",
        "shoot_laser": "audio/sfx/shoot_laser.ogg",
        "shoot_blaster": "audio/sfx/shoot_blaster.ogg",
        "enemy_bear": "audio/sfx/enemy_bear.ogg",
        "enemy_bird": "audio/sfx/enemy_bird.ogg",
        "enemy_butterfly": "audio/sfx/enemy_butterfly.ogg",
        "collected_screw": "audio/sfx/screw.ogg",
        "collected_key": "audio/sfx/key.ogg",
        "collected_ammo": "audio/sfx/ammo.ogg",
        "collected_life": "audio/sfx/life.ogg",
        "bomb": "audio/sfx/bomb.ogg",
        "door": "audio/sfx/door.ogg",
        "teleport": "audio/sfx/teleport.ogg",
        "death": "audio/sfx/end.ogg",
        "level_complete": "audio/sfx/lelvelUp.ogg",
        "countdown": "audio/sfx/321go.ogg",
        "explosion": "audio/sfx/crack.ogg",
    },
)
