(
    menu_music: "audio/music/super_friendly.ogg",
    level_music: [
        "audio/music/chipper_doodle_v2.ogg",
        "audio/music/deliberate_thought.ogg",
        "audio/music/happy_bee.ogg",
        "audio/music/move_forward.ogg",
        "audio/music/pinball_spring_160.ogg",
        "audio/music/new_friendly.ogg",
        "audio/music/show_your_moves.ogg",
        "audio/music/mellowtron.ogg",
        "audio/music/kick_shock.ogg",
    ],
    sfx: {
        "walk": "audio/sfx/walk.ogg",
        "shoot_regular": "audio/sfx/shoot_regular.ogg",
        "shoot_laser": "audio/sfx/shoot_laser.ogg",
        "shoot_blaster": "audio/sfx/shoot_blaster.ogg",
        "enemy_bear": "audio/sfx/enemy_bear.ogg",
        "enemy_bird": "audio/sfx/enemy_bird.ogg",
        "enemy_butterfly": "audio/sfx/enemy_butterfly.ogg",
        "collected_screw": "audio/sfx/screw.ogg",
        "collected_key": "audio/sfx/key.ogg",
        "collected_ammo": "audio/sfx/ammo.ogg",
        "collected_life": "audio/sfx/life.ogg",
        "bomb": "audio/sfx/bomb.ogg",
        "door": "audio/sfx/door.ogg",
        "teleport": "audio/sfx/teleport.ogg",
        "death": "audio/sfx/end.ogg",
        "level_complete": "audio/sfx/lelvelUp.ogg",
        "countdown": "audio/sfx/321go.ogg",
        "explosion": "audio/sfx/crack.ogg",
    },
)
